<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikeshhbaskaran.academiccalendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mikhaellopez.circularfillableloaderssample.loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity1" />
        <activity android:name="mehdi.sakout.aboutpage.January" />
        <activity android:name="mehdi.sakout.aboutpage.February" />
        <activity android:name="mehdi.sakout.aboutpage.March" />
        <activity android:name="mehdi.sakout.aboutpage.April" />
        <activity android:name="mehdi.sakout.aboutpage.May" />
        <activity android:name="mehdi.sakout.aboutpage.June1" />
        <activity android:name="mehdi.sakout.aboutpage.June2" />
        <activity android:name="mehdi.sakout.aboutpage.July" />
        <activity android:name="mehdi.sakout.aboutpage.August" />
        <activity android:name="mehdi.sakout.aboutpage.September" />
        <activity android:name="mehdi.sakout.aboutpage.October" />
        <activity android:name="mehdi.sakout.aboutpage.November" />
        <activity android:name="mehdi.sakout.aboutpage.December" />
        <activity android:name=".splashscreen" />
        <activity android:name="com.amqtech.opensource.appintroexample.DefaultIntro" />
        <activity
            android:name=".intro"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity2" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>